#container {
  height: 100%;
  padding: 2rem 5rem;
  width: 100%;

  .container__title {
    border-bottom: solid 1px #e7e7e7;
    height: 75px;
    margin: 0 -5rem 3rem;

    h1 {
      margin: 0;
      padding: 0 5rem;
      text-transform: capitalize;
    }
  }
}
