.menu {
  width: 115px;
  height: auto;
  position: fixed;
  padding: 15px 15px;
  border-radius: 10px;
  background: #f5f4f4;
  opacity: 1;
  transition: opacity 0.5s linear;
  font-size: 14px;
  z-index: 999;

  li:hover {
    color: rgb(41, 37, 255);
    cursor: pointer;
  }

  li:not(:last-child) {
    margin: 0 0 7.5px;
  }
}
