.menu-link-item {
    display: flex;
    align-items: center;
    padding: .85rem 1rem;
    border-radius: 1rem;
    
    &:not(:last-child) {
        margin: 0 0 0.5rem
    }
    
    svg {
        width: 22.5px;
        margin-right: 1rem;
        stroke: #444444;
        path {
            stroke: #444444;
        }
        line {
            stroke: #444444
        }
        polyline {
            stroke: #444444
        }
    }

    a, button {
        color: #444444;
    }

    &.is-active {
        background: #000;
        a, button {
            color: #fff;
        }
        svg {
            stroke: #fff;
            path {
                stroke: #fff;
            }
            line {
                stroke: #fff
            }

            polyline {
                stroke: #fff
            }
        }
        &:hover {
            background: #000;
            a, button {
                color: #fff;
            }
            svg {
                stroke: #fff;
                path {
                    stroke: #fff;
                }
                line {
                    stroke: #fff
                }
    
                polyline {
                    stroke: #fff
                }
            }
        }
    }
    &:hover {
        background: #e7e7e7;
        cursor: pointer;
        a, button {
            color: #000;
        }
        svg {
            stroke: #000;
            path {
                stroke: #000;
            }
            line {
                stroke: #000
            }

            polyline {
                stroke: #000
            }
        }
    }


}
