#dashboard-nav {
    width: 600px;
    margin: 0 auto 2.75rem;
    background: #eee;
    border-radius: 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
        button {
            width: 25%;
            height: 100%;
        }
}
