$background-color-white: #fcfbfb;

$dashboard-actions-bar: calc(75px + 2rem);
$dashboard-breadcrumb-height: 30px;
$dashboard-card-padding: 2rem 3rem;

$dashboard-card-width: calc(50vw - 0.5rem);

.dashboard {
  width: 100%;
}

.dashboard__cards {
  display: flex;
  height: calc(100% - (75px + 2rem));
  position: relative;

  >:nth-child(1) {
    height: calc(100% - 1.25rem);
    width: $dashboard-card-width;

    :first-child {
      margin: 0 0 2rem;
    }
  }

  .dashboard__infos {
    position: absolute;
    right: 0;
    top: 0;
    width: $dashboard-card-width;

    >:nth-child(1) {
      position: relative;
    }

    >:nth-child(2) {
      position: relative;
    }

    >:nth-child(3) {
      max-height: 250px;
      position: relative;
    }
  }
}

.dashboard__header {
  display: flex;
  justify-content: space-between;
}

.dashboard__select {
  height: 100%;
  width: 100%;

  .dashboard__select__item  {
    margin: 0 0 1rem;

    select {
      font-size: 0.75rem;
    }
  }

  .dashboard__select__info  {
    font-weight: 300;
  }

  button {
    font-weight: 600;
    margin: 1rem 0 0;
  }
}

.dashboard__recap {
  display: flex;
  flex-wrap: wrap;

  .dashboard__recap__item {
    display: flex;
    margin: 0 0 0.5rem;
    width: 50%;

    .dashboard__recap__picto {
      align-items: center;
      display: flex;
      height: 50px;
      justify-content: center;
      margin-right: 1rem;
      width: 50px;

      svg {
        stroke-width: 1.5px;
      }
    }

    .dashboard__recap__informations {
      span {
        display: table;
        font-size: 0.8rem;

        &:first-child {
          font-weight: 600;
        }
      }
    }
  }
}

.dashboard__actions__bar {
  align-items: center;
  background: $background-color-white;
  border-bottom: solid 1px #e7e7e7;
  border-right: solid 1px #e7e7e7;
  display: flex;
  height: $dashboard-actions-bar;
  justify-content: center;
  min-width: 300px;

  .dashboard__actions__search {
    align-items: center;
    background: #f5f4f4;
    border-radius: 10px;
    color: #ccc;
    display: flex;
    height: 45px;
    margin-left: 30px;
    min-width: 280px;
    padding-left: 1rem;

    svg {
      margin-right: 0.5rem;
      width: 13px;
    }
  }

  .dashboard__actions__bar__btn {
    width: auto;

    button {
      align-items: center;
      background: #4991f7;
      border-radius: 10px;
      color: #fff;
      display: flex;
      font-size: 0.75rem;
      font-weight: 600;
      height: 45px;
      padding: 1rem;

      svg {
        margin-right: 0.75rem;
        width: 15px;
      }
    }
  }

  .dashboard__actions__exporter {
    align-items: center;
    background: #4991f7;
    border-radius: 10px;
    color: #fff;
    display: flex;
    font-size: 0.75rem;
    font-weight: 600;
    justify-content: center;
    margin: 0.3rem 0 0;
    opacity: 0;
    padding: 1rem;
    pointer-events: none;
    position: absolute;
    transition: opacity 100ms ease;
    width: 110px;
    z-index: 999;

    &.active {
      display: flex;
      opacity: 1;
      pointer-events: inherit;
    }

    li {
      cursor: pointer;
      text-align: center;
    }

    li:not(:last-child) {
      margin: 0 0 0.75rem;
    }
  }
}

.dashboard__viewer {
  min-width: 50%;

  .dashboard__viewer__breadcrumb {
    align-items: center;
    display: flex;
    font-size: 0.8rem;
    height: $dashboard-breadcrumb-height;
    margin: 0 0 2rem;

    .dashboard__viewer__breadcrumb__item__level {
      font-weight: 600;
    }

    .dashboard__viewer__breadcrumb__item {
      margin-right: 22.5px;
      position: relative;

      &:not(:last-child) {
        color: #aaa;

        &::after {
          content: '>';
          font-size: 10px;
          position: absolute;
          right: -12.5px;
          top: 1px;
        }
      }
    }
  }
}

.dashboard__informations {
  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    &__mail {
      width: 100%;

      > div {
        margin: 0 0 0.4rem;
      }

      span {
        display: table;
      }
    }

    &__folder {
      display: flex;
      justify-content: space-between;

      &__item {
        border: solid 2px;
        border-radius: 10px;
        min-height: 250px;
        padding: 15px;
        width: 45%;

        div {
          margin: 0 0 1rem;
        }

        &:first-child {
          border-color: #bcd1ff;
        }

        &:last-child {
          border-color: rgb(31 120 180);
        }
      }

      span {
        display: table;
      }
    }
  }

  strong {
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
  }

  &__tag {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 75%;

    &__item {
      align-items: center;
      background-color: #4991f745;
      border-radius: 35px;
      display: flex;
      height: 35px;
      justify-content: center;
      width: 30%;

      &[data-tag='true'] {
        background-color: #4991f7;
      }
    }
  }
}

.dashboard__impact {
  background: #fcfbfb;
  border-bottom: solid 1px #e7e7e7;
  width: 100%;

  .dashboard__impact__inner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin-left: auto;
    padding-right: 50px;
    width: 900px;
  }

  .dashboard__impact__item {
    align-items: center;
    display: flex;
    margin-right: 1rem;

    .dashboard__impact__item__picto {
      margin-right: 1.5rem;

      img {
        width: 24px;
      }
    }

    .dashboard__impact__item__infos {
      span {
        display: table;
        font-size: 0.75rem;

        &:first-child {
          font-size: 1rem;
          font-weight: 600;
          margin: 0 0 0.25rem;
        }
      }
    }
  }
}

.dashboard__mail {
  div {
    max-height: 100px;
    overflow: scroll;
  }
}
