$background-color-white: #fcfbfb;

$dashboard-actions-bar: calc(75px + 2rem);
$dashboard-breadcrumb-height: 30px;
$dashboard-card-padding: 2rem 3rem;

.dashboard__select {
  position: absolute;
  top: 0;
  left: calc(50% - 250px);
  width: 500px;
  height: 75px;
  background: wheat;
}

.dashboard {
  width: 100%;
}

.dashboard__cards {
  height: 100%;
  display: flex;
}

.dashboard__recap {
  display: flex;
  flex-wrap: wrap;

  .dashboard__recap__item {
    width: 40%;
    display: flex;
    margin: 0 2rem 2rem 0;

    .dashboard__recap__picto {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      border: solid 1px black;
      border-radius: 50%;
      svg {
        fill: #000;
      }
    }

    .dashboard__recap__informations {
      span {
        display: table;
        font-size: 0.8rem;
        &:first-child {
          font-weight: 600;
        }
      }
    }
  }
}

.dashboard__actions__bar {
  width: 100%;
  height: $dashboard-actions-bar;
  display: flex;
  align-items: center;
  background: $background-color-white;
  border-bottom: solid 1px #e7e7e7;

  .dashboard__actions__search {
    width: 280px;
    height: 45px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: #f5f4f4;
    color: #ccc;
    margin-left: 30px;
    padding-left: 1rem;

    svg {
      width: 13px;
      margin-right: 0.5rem;
    }
  }

  .dashboard__actions__bar__btn {
    width: 10px;
    margin: 0 5rem 0 50px;
    button {
      height: 45px;
      display: flex;
      align-items: center;
      color: #fff;
      font-size: 0.75rem;
      font-weight: 600;
      background: #4991f7;
      border-radius: 10px;
      padding: 1rem;

      svg {
        width: 15px;
        margin-right: 0.75rem;
      }
    }
  }
}

.dashboard__vizualisation {
  min-width: 700px;

  .dashboard__vizualisation__breadcrumb {
    height: $dashboard-breadcrumb-height;
    display: flex;
    align-items: center;
    margin: 0 0 2rem;
    font-size: 0.8rem;
    .dashboard__vizualisation__breadcrumb__item {
      position: relative;
      margin-right: 22.5px;

      &:not(:last-child) {
        color: #aaa;

        &::after {
          content: ">";
          position: absolute;
          top: 1px;
          right: -12.5px;
          font-size: 10px;
        }
      }
    }
  }
}

.dashboard__informations {
  flex: 0;
}

.dashboard__impact {
  display: flex;
  flex: 1;
  justify-content: space-between;
  .dashboard__impact__item {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    .dashboard__impact__item__picto {
      margin-right: 1.5rem;
      img {
        width: 24px;
      }
    }
    .dashboard__impact__item__infos {
      span {
        display: table;
        font-size: 0.75rem;

        &:first-child {
          font-size: 2rem;
          font-weight: 600;
          margin: 0 0 0.5rem;
        }
      }
    }
  }
}
