.startscreen {
  background: #eaf0fd;
  height: 100%;
  position: fixed;
  text-align: center;
  width: 100%;
}

.startscreen__open__config {
  position: fixed;
  right: 2rem;
  top: 2rem;
  width: 2rem;
}

.logo {
  left: 2rem;
  position: absolute;
  top: 2rem;
  width: 10rem;
}

.startscreen__progress {
  background-color: #6ecaff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 200px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, calc(-50% + 100px));
  transition: transform 350ms linear;
  width: 350px;
  z-index: 1;

  ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    li {
      color: #fff;
      font-size: 12px;
      margin-bottom: 10px;

      span {
        display: inline-block;
        width: 150px;
      }

      span:first-child {
        font-weight: 600;
        padding-left: 40px;
        text-align: left;
      }

      span:last-child {
        font-weight: 300;
        padding-right: 40px;
        text-align: end;
      }
    }
  }

  &.active {
    transform: translate(-50%, calc(-50% + 300px));
  }
}

.spinner {
  animation: spin 2s linear infinite;
  border: solid 4px #2051a3;
  border-radius: 50%;
  height: 20px;
  left: 410px;
  position: absolute;
  top: 41%;
  width: 20px;

  &::after {
    background: #d1dbec;
    border-radius: 50%;
    content: '';
    height: 7px;
    left: 0;
    position: absolute;
    top: -3px;
    width: 7px;
  }
}

.circle-packing {
  height: 500px;
  width: 100%;

  .circle-packing-pst-infos {
    left: 300px;
    position: absolute;
    text-align: center;
    top: 45%;
  }
}
