.startscreen {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #eaf0fd;
  text-align: center;
}

/* TODO: handle properly the logo */
.logo {
  height: 5em;
  margin-top: 1em;
}

.startscreen__progress {
  width: 300px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  background-color: #6ecaff;
  transform: translate(-50%, calc(-50% + 150px));
  transition: transform 350ms linear;

  ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    li {
      font-size: 12px;
      color: #fff;
      span {
        width: 150px;
        display: inline-block;
      }

      span:first-child {
        padding-left: 65px;
        font-weight: 600;
      }

      span:last-child {
        padding-right: 65px;
        text-align: end;
        font-weight: 600;
      }
    }
  }

  &.active {
    transform: translate(-50%, calc(-50% + 250px));
  }
}

.spinner {
  border: solid 4px #2051a3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 41%;
  left: 410px;

  &:after {
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    top: -3px;
    left: 0;
    border-radius: 50%;
    background: #d1dbec;
  }
  animation: spin 2s linear infinite;
}

.circle-packing {
  width: 100%;
  height: 500px;

  .circle-packing-pst-infos {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 300px;
  }
}
