.logo {
  width: inherit;
}

.channel {
  background: #eaf0fd;
  border: 1px solid #000;
  border-radius: 5px;
  color: #800;
  padding: 0.2em;
  position: absolute;
  right: -1em;
  top: -0.5em;
  transform: rotate(35deg);
}
