@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../../../static/fonts/Quicksand/Quicksand-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'QuicksandBold';
  font-style: normal;
  font-weight: 400;
  src: url('../../../static/fonts/Quicksand/Quicksand-Bold.ttf') format('opentype');
}
