@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  src: url("../../../static/fonts/Quicksand/Quicksand-Regular.ttf")
    format("opentype");
}

@font-face {
  font-family: "QuicksandBold";
  font-style: normal;
  font-weight: 400;
  src: url("../../../static/fonts/Quicksand/Quicksand-Bold.ttf")
    format("opentype");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../../static/fonts/Inter/Inter-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "InterBold";
  font-style: normal;
  font-weight: 600;
  src: url("../../../static/fonts/Inter/Inter-Bold.ttf") format("opentype");
}

@font-face {
  font-family: "InterThin";
  font-style: normal;
  font-weight: 200;
  src: url("../../../static/fonts/Inter/Inter-Thin.ttf") format("opentype");
}
