@use './font';
@use './column';

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import './colors';

* {
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

html {
  background: $color-background;
  color: $color-text;
}

main {
  display: flex;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: $color-text;
  text-decoration: none;
}

button {
  background: none;
  border: 0;
  color: $color-text;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}
