@use './font';
@use './column';

* {
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
}


a {
  color: #000;
  text-decoration: none;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.node {
  cursor: pointer;  
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}