.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

.spinner {
  border: solid 4px #2051a3;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  &:after {
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    top: -3px;
    left: 0;
    border-radius: 50%;
    background: #d1dbec;
  }
  animation: spin 2s linear infinite;
}

.circle-packing {
  width: calc(100% - 300px);
  height: 500px;

  .circle-packing-pst-infos {
    text-align: center;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
