.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

// .bubble-element {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
// }

.spinner {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: solid 4px #2051a3;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  &:after {
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    top: -3px;
    left: 0;
    background: white;
    border-radius: 50%;
  }
  animation: loading 2s linear infinite;
}

.circle-packing {
  svg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .circle-packing-pst-infos {
    position: absolute;
    top: 64%;
    left: 51%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
