@function make-card-width($col: 1) {
    @return (100% / 3) * $col;
}


.card-section {
    width: 100%;

    .card {
        height: 100px;
        margin: 0 0 2.5rem;
        padding: 1rem;
        border: solid 1px #ccc;
        border-radius: 20px;
    }

    .card-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card-simple {
        // width: make-card-width(1);
        width: calc(100% / 3 - 10px);
        @extend .card;
    }
    .card-double {
        width: calc((100% / 3 - 10px) * 2);
        @extend .card;
    }
    .card-half {
        width: calc((100% / 3 - 10px) * 1.5);
        @extend .card;
    }
    .card-full {
        width: calc(100% - 10px);
        @extend .card;
    }
}