$background-color-white: #fcfbfb;

$dashboard-actions-bar: calc(75px + 2rem);
$dashboard-breadcrumb-height: 30px;
$dashboard-card-padding: 2rem 3rem;
$dashboard-card-font-text: 12px;

.card {
  background: $background-color-white;
  border-radius: 10px;
  font-size: $dashboard-card-font-text;
  margin: 10px;
  padding: $dashboard-card-padding;
  position: absolute;

  .card__title {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0 0 2rem;
    position: relative;
  }

  .card__title__color {
    border-radius: 3px;
    height: 28px;
    left: -1.55rem;
    position: absolute;
    top: -0.25rem;
    width: 12px;

    &.purple {
      background: #cec6fb;
    }

    &.green {
      background: #c6e6d2;
    }

    &.orange {
      background: #fadda1;
    }

    &.blue {
      background: #e2defc;
    }

    &.grey {
      background: #f7d7d7;
    }
  }
}
