.dropzone {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
  background: #fff;
  z-index: 2;
  p {
    margin: 0;
    line-height: 1.15rem;
  }
}

.dropzone-title {
  width: 75%;
  margin: 2.5rem auto 0;
  text-align: center;
  h1 {
    margin: 0.5rem 0;
    font-size: 1.25rem;
    font-weight: 600;
  }
  span {
    font-size: 0.75rem;
    color: #aaa;
  }
}

.dropzone-area {
  width: 75%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: dashed 1px #b3c7eb;
  border-radius: 20px;
  background: #fbfcfe;
  cursor: pointer;

  &.dropzone-area--active {
    background: #dfe6f5;
  }

  .dropzone-text {
    width: 60%;
    font-size: 0.8rem;
    text-align: center;
    color: #aaa;
  }
}

.dropzone__progress {
  width: 300px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  background-color: #6ecaff;
  transform: translate(-50%, calc(-50% + 150px));
  transition: transform 750ms linear;

  ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    li {
      font-size: 12px;
      color: #fff;
      span {
        width: 120px;
        display: inline-block;
        font-weight: 600;
      }
    }
  }

  &.active {
    transform: translate(-50%, calc(-50% + 250px));
  }
}
