.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

.spinner {
  border: solid 4px #2051a3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 41%;
  left: 410px;

  &:after {
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    top: -3px;
    left: 0;
    border-radius: 50%;
    background: #d1dbec;
  }
  animation: spin 2s linear infinite;
}

.circle-packing {
  width: 100%;
  height: 45vh;

  .circle-packing-pst-infos {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 300px;
  }

  .circle-packing-actions-button {
    margin: 0 !important;
    display: flex;

    button {
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 0.75rem;
      font-weight: 600;
      background: #4991f7;
      border-radius: 10px;
      padding: 1rem;
      z-index: 9;
      margin: 0 !important;
      width: 80px;

      &:first-child {
        margin-right: 10px !important;
      }
    }
  }

}

.circle__packing__tooltip {
  background: #fff;
  padding: 10px;
}

.circle__packing__cancellable__zone {
  background: #000;
  height: 100%;
  left: 0;
  opacity: 0.15;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
